---
layout: default
---
<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
        <div class="post-meta">
          {{ post.date | date_to_long_string }}
          •
          {% assign words = post.content | number_of_words %}
          {% if words < 360 %}
            1 min
          {% else %}
            {{ words | divided_by:180 }} mins
          {% endif %}
          read
        </div>
        <p class="post-summary">
          {{ post.summary }}
        </p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">&#8592; Newer posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older posts &#8594;</a>
    {% endif %}
  </div>
</div>
