// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 60rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}
